<h2>Hello the Promising Learner..<br>
<small>Quickly answer those questions!</small></h2>

<%= form_tag(:students, class: 'form-inline')  do %>
  <div class="form-group">
    <%= label_tag :room_code, 'Insert your room code:' %>
    <%= text_field_tag :room_code, '', class: 'form-control' %>
  </div>
  <p><%= submit_tag "Let's roll!", class: 'btn btn-primary' %></p>
<% end %>
