<%= form_for [@question, @answer], remote: true do |f| %>
  <div class='form-group'>
    <%= f.text_area :content, class: 'form-control' %>
  </div>
  <div>
  <%= f.submit 'Answer!', class: 'btn btn-primary' %>
  </div>
<% end %>
