<%= form_for [@question, @answer], remote: true do |f| %>
  <p><%= f.label :content, 'Fill up your answer below' %></p>
  <p><%= f.text_area :content %></p>
  <p><%= f.submit 'Answer!' %></p>
<% end %>
